*{
    margin:0;
    padding:0;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    box-sizing: border-box;
}
.container{
    width: 100%;
    min-height: 100vh;
    background: rgba(227, 249, 255, 0.776);
    display: flex;
    align-items: center;
    justify-content: center;
}
.calculator{
    background: #3a4c52;
    padding: 20px;
    border-radius: 10px;
}
.calculator form input{
    border:0;
    outline: 0;
    width: 60px;
    height: 60px;
   border-radius: 10px;
   box-shadow: -8px -8px 15px rgba(255, 255, 255, 0.1),8px 8px 15px rgba(0, 0, 0, 0.2);
   background: transparent;
   font-size: 20px;
   color: white;
   cursor: pointer;
   margin: 10px;
}
form.display{
    display: flex;
    justify-content: flex-end;
    margin: 20px 0;
}
form .display input{
    text-align: right;
    width: 300px;
    font-size: 25px;
    box-shadow: none;
}

form input.equal{
    width: 145px;
}
form input.operator{
    color: #33ff88b8;
}
.calculator form input:hover{
    background: rgba(255, 255, 255, 0.1);
}
